{% extends 'base.html.twig' %}

{% block title %}Accueil S'poeti Films!{% endblock %}

{% block body %}



    <!-- Landing page -->
    <header class="showcase">
        <div class="showcase-top">
            <a href="/">
                <img src="/images/Logo.png" alt=""/>
            </a>
            {% if is_granted('ROLE_USER') %}
                <a href="#" class="btn btn-rounded" style="margin-left: auto;">Mon compte</a>
                <a class="btn btn-rounded" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="btn btn-rounded"
                   href="{{ path('app_login') }}" style="margin-left:auto">Se connecter</a>
                <a class="btn btn-rounded"
                   style="margin-right: 200px;" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}

        </div>
        <div class="showcase-content">
            <h1>Vous cherchez ? <br> Nous avons !</h1>
            <p>Ne perdez pas des heures à chercher la serie qu'il vous faut</p>
            <a href="#promotion" class="btn btn-xl"
            >Découvrir <i class="fa fa-chevron-right btn-icon"></i
                ></a>
        </div>
    </header>

    <!--Film à la une-->
    <div class="promotion-carousel" id="promotion">
        <div class="promotions">
            <div>
                <div class="promotion" id="section1"
                     style="background-image: url(https://picsum.photos/1440/900?image=319)">
                    <div class="shade"></div>
                    <div class="promo-detail cycle-overlay">
                        <div class="promo-text">
                            <span class="dash"></span>
                            <span class="promo-flag">A la une : </span>
                            <a href="{{ path('series_show',  {id: series[0].id}) }}" class="copy">
                                <div class="headline">{{ series[0].name }} <span
                                            style="font-size: .7rem;">{% for genre in series[0].kinds %} [ {{ genre }} ]  {% endfor %}</span>
                                </div>
                                <p class="body long">{{ series[0].summary|raw }}</p>
                            </a>
                            <div class='rating-stars'>
                                <div class="note"><span style="font-size: 5rem;"> {{ series[0].score  ? series[0].score : "- " }}</span><span
                                            style="font-size: 3rem;">/</span><span style="font-size: 3rem;">10</span>
                                </div>
                                <ul id='stars'>
                                    <li class='star' title='Poor' data-value='1'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Fair' data-value='2'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Good' data-value='3'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Excellent' data-value='4'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='WOW!!!' data-value='5'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                </ul>
                            </div>

                            <ul>
                                <li><i class="fa fa-assistive-listening-systems"></i> Disponible en audio descriptions
                                </li>
                                <li><i class="fa fa-clock"></i> <strong>{{series[0].episodes|length}}</strong> episodes, des
                                    heures
                                    de <strong>{{series[0].kinds[0]}}</strong> en vu !
                                </li>
                                <li><i class="fa fa-comment"></i> <strong>{{  series[0].comments | length }}</strong> Avis</li>
                            </ul>
                            <div class="buttons">
                                <a class="button sho-play-link"
                                   href="{{ path('series_show',  {id: series[0].id}) }}"></span>Voir la fiche</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Carousel vous aimeriez peut etre-->
    <div>
        <span class="title_section">Nous vous recommandons </span>


        <div class="carousel_you_may_like">

            {% for serie in series %}
                <section class="carousel_cards">

                    <div class="card">
                        <img src="{{ serie.image }}" alt="">

                        <div class="inner" style="display: flex;flex-direction: column;">
                            <div class="header" style="top: -565px;">
                                <h1>{{ serie.name }}</h1>
                                <a href=""><i class="fa fa-bookmark bookmark" aria-hidden="true"></i></a>
                                <div class="stars stars_cards" data-score="{{  serie.score }}">
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <i class="fa fa-star color-grey" aria-hidden="true"></i>
                                    <span style="margin-left: auto"> {{ serie.score  ? serie.score : "- " }}/10</span>

                                </div>
                                <i class="fa fa-comment"></i> <strong>{{  serie.comments | length }}</strong> Avis</li>
                            </div>

                            <div class="content" style="margin-top: -305px;
min-height: 170px;">
                                <div class="btn_row">
                                    <a href="{{ path('series_show',  {id: serie.id}) }}">Voir<i
                                                class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a href="#"> {% for genre in serie.kinds %} [ {{ genre }} ]  {% endfor %}</a>
                                {{ serie.summary | raw }}
                            </div>

                        </div>
                        <!-- the trailer -->


                    </div>

                    <div class="btn_row_next_prev">
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            let ratings = $('.stars_cards');
            ratings.each((rate)=>{

                let score = ratings[rate].dataset.score;
                 if( score > 9){
                     for(let i = 0; i<9;i++){
                         ratings[rate].children[i].classList.remove('color-grey');
                     }

                 }
                if( score > 8){
                    for(let i = 0; i<8;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 7){
                    for(let i = 0; i<7;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 6){
                    for(let i = 0; i<6;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 5){
                    for(let i = 0; i<5;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 4){
                    for(let i = 0; i<4;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 3){
                    for(let i = 0; i<3;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 2){
                    for(let i = 0; i<2;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }
                if( score > 1){
                    for(let i = 0; i<1;i++){
                        ratings[rate].children[i].classList.remove('color-grey');
                    }

                }


            })
        })
    </script>
    <script>
        //Carousel

        $(document).ready(function () {
            const ele = '.promotion-carousel';
            const $window = $(window);
            const viewportHeight = $window.height();

            let ui = {
                promo: ele + ' .promotion',
                promoText: ele + ' .promo-text',
                navigationItems: '.navigation a'
            };

            function isOnScreen(el) {
                const viewport = {
                    top: $window.scrollTop()
                };

                viewport.bottom = viewport.top + viewportHeight;

                const bounds = el.offset();
                bounds.bottom = el.offset().top + el.outerHeight();

                return (!(viewport.bottom < bounds.top || viewport.top > bounds.bottom));
            }

            class ScrollEvents {

                run() {
                    const $promo = $('.promotion');
                    const $promoText = $('.promo-text');

                    function smoothScroll(target) {
                        $('body, html').animate({'scrollTop': target.offset().top}, 600);
                    }

                    $(ui.navigationItems).on('click', e => {
                        e.preventDefault();
                        smoothScroll($(e.currentTarget.hash));
                    });

                    $window.on('scroll', () => {

                        $(ui.promo).toArray().forEach(el => {
                            const $el = $(el);
                            if (isOnScreen($el)) {
                                this.scrolly($el);
                            }
                        });
                        this.updateNavigation();
                        this.fadeAtTop($(ui.promoText));
                    });

                    this.updateNavigation();
                }

                scrolly(el) {
                    const topOffset = el.offset().top;
                    const height = el.height();
                    let scrollTop = $window.scrollTop();
                    const maxPixels = height / 4;
                    const percentageScrolled = (scrollTop - topOffset) / height;
                    let backgroundOffset = maxPixels * percentageScrolled;

                    backgroundOffset = Math.round(Math.min(maxPixels, Math.max(0, backgroundOffset)));

                    el.css(`background-position`, `right 0px top ${backgroundOffset}px`);
                }

                fadeAtTop(el) {
                    const startPos = 0.25;

                    el.toArray().forEach(el => {
                        const $el = $(el);
                        let position = $el.offset().top - $window.scrollTop() + viewportHeight / 6;
                        let opacity = position < viewportHeight * startPos ? position / (viewportHeight * startPos) * 1 : 1;

                        $el.css('opacity', opacity);
                    });
                }

                updateNavigation() {
                    $(ui.promo).toArray().forEach((el) => {
                        let $el = $(el);
                        let activeSection = $(`.navigation a[href="#${$el.attr('id')}"]`).data('number') - 1;

                        if (($el.offset().top - $window.height() / 2 < $window.scrollTop()) && ($el.offset().top + $el.height() - $window.height() / 2 > $window.scrollTop())) {
                            $(ui.navigationItems).eq(activeSection).addClass('active');
                        } else {
                            $(ui.navigationItems).eq(activeSection).removeClass('active');
                        }
                    });
                }
            };

            const scrollEvents = new ScrollEvents();

            scrollEvents.run();
        });

    </script>

    <script>
        //slick carousel vous aimerz surement
        $(document).ready(function () {
            $('.carousel_you_may_like').slick({
                arrows:false,
                infinite: false,
                slidesToShow: 3,
                slidesToScroll: 1
            });
        });
    </script>
{% endblock %}
