{% extends 'base.html.twig' %}

{% block title %}Kind{% endblock %}

{% block body %}
    <h1>Kind</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kind.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kind.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kind_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') == true %}
    <a href="{{ path('kind_edit', {'id': kind.id}) }}">edit</a>

    {{ include('kind/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
