{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <h1>Episodes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ episode.name }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ episode.summary }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ episode.season }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ episode.duration }}</td>
            </tr>
            <tr>
                <th>Premiere</th>
                <td>{{ episode.premiere ? episode.premiere|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ episode.url }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ base_url~episode.image }}" /></td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ episode.createdAt ? episode.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    {% if  episode_precedent %}
        <a href="{{ path('episodes_show', {'id': episode_precedent.id}) }}">Episode précédent</a>
    {% endif %}

    {% if episode_suivant %}
        <a href="{{ path('episodes_show', {'id': episode_suivant.id}) }}">Episode Suivant</a>
    {% endif %}

    <br>
    <a href="{{ path('episodes_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') == true %}
    <a href="{{ path('episodes_edit', {'id': episode.id}) }}">edit</a>

    {{ include('episodes/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
