{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>{{ user.overview }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Potites Stats</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Temps perdu a procrastiner (en h)</th>
                <th>Nombre d'épisodes vus</th>
                <th>Nombre de commentaires postés</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% set nbhours = 0%}
                    {% for episode in episodes%}
                        {% set nbhours  = nbhours + episode.duration %}
                    {% endfor %}
                    {{ nbhours }}
                </td>
                <td>
                    {% set nbepisodes = 0%}
                    {% for episode in episodes%}
                        {% set nbepisodes = nbepisodes + 1 %}
                    {% endfor %}
                    {{ nbepisodes }}
                </td>
                <td>{% set nbcomments = 0%}
                    {% for comment in comments%}
                        {% set nbcomments = nbcomments + 1 %}
                    {% endfor %}
                    {{ nbcomments }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    {% if app.user == user or is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') == true %}
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
    <h2>Commentaires</h2>
    {% if comments != null %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Series</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.Series }}</td>
                        <td>{{ comment.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <i>Cet utilisateur n'a malencontreusement touché aucune série de sa plume divine</i>
    {% endif %}
    <h2>Series vues</h2>
    {% if series != null %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Score</th>
                    <th>Status</th>
                    <th>Kinds</th>
                </tr>
            </thead>
            <tbody>
            {% for serie in series %}
                <td>{{ serie.name }}</td>
                <td>{{ serie.summary }}</td>
                <td>{{ serie.score}}</td>
                <td>{{ serie.status }}</td>
                <td>{{ serie.Kinds }}</td>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <i>Cet utilisateur n'a guere visionné de Série</i>

    {% endif %}
{% endblock %}
